@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewData["Title"] - Voltage</title>

    <link href="~/dist/css/tabler.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="~/dist/css/demo.min.css" rel="stylesheet" />
    <link href="~/Voltage.styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <script src="/js/ThemeConfig.js"></script>
    <div class="page page-center" id="app">
        <div class="container container-slim py-4">
            <div class="text-center">
                <div class="mb-3">
                    <a href="/Main/MainPage/Index" class="navbar-brand navbar-brand-autodark"><img src="/wwwroot/dist/img/logos/logo-small.svg" height="36" alt=""></a>
                </div>
                <div class="text-secondary mb-3">Preparing application</div>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-indeterminate"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="text-center mb-4">
                <a href="." class="navbar-brand navbar-brand-autodark">
                    <img src="/dist/img/logos/logo-white.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
                </a>
            </div>
            <p>An email with reset instructions has been sent to your email address.</p>
            <p>Click <a href="https://mail.google.com/">here</a> to open your Gmail inbox.</p>
        </div>
    </div>
    <script src="/js/site.js" defer asp-append-version="true"></script>
    <script src="~/dist/js/tabler.min.js"></script>
    <script src="~/dist/js/demo.min.js"></script>
</body>
</html>