@model ForgotViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewData["Title"] - Voltage</title>

    <link href="~/dist/css/tabler.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="~/dist/css/demo.min.css" rel="stylesheet" />
    <link href="~/Voltage.styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <script src="/js/ThemeConfig.js"></script>
    <div class="page page-center" id="app">
        <div class="container container-slim py-4">
            <div class="text-center">
                <div class="mb-3">
                    <a href="/Main/MainPage/Index" class="navbar-brand navbar-brand-autodark"><img src="/wwwroot/dist/img/logos/logo-small.svg" height="36" alt=""></a>
                </div>
                <div class="text-secondary mb-3">Preparing application</div>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-indeterminate"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="text-center mb-4">
                <a href="." class="navbar-brand navbar-brand-autodark">
                    <img src="/dist/img/logos/logo-white.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
                </a>
            </div>
            <form role="form" id="forgotPasswordForm" class="card card-md" method="post" autocomplete="off" novalidate>
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Forgot password</h2>
                    <p class="text-secondary mb-4">Enter your email address and your password will be reset and emailed to you.</p>
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" asp-for="Email" name="email" class="form-control" placeholder="Enter email">
                    </div>
                    <div id="clientValidation" class="text-danger"></div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
                            Send me new password
                        </button>
                    </div>
                </div>
            </form>
            <div class="text-center text-secondary mt-3">
                Forget it, <a href="/Account/login">send me back</a> to the sign in screen.
            </div>
        </div>
    </div>
    <script src="/js/site.js" defer asp-append-version="true"></script>
    <script src="~/dist/js/tabler.min.js"></script>
    <script src="~/dist/js/demo.min.js"></script>

    <script>
        document.getElementById('forgotPasswordForm').addEventListener('submit', function (event) {
            var emailValue = document.querySelector('[name="email"]').value;

            if (!emailValue.trim()) {
                event.preventDefault();
                document.getElementById("clientValidation").innerText = 'Please fill in all required fields.';
            }
        });
    </script>
</body>
</html>