@model ResetPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewData["Title"] - Voltage</title>

    <link href="~/dist/css/tabler.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="~/dist/css/demo.min.css" rel="stylesheet" />
    <link href="~/Voltage.styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <script src="/js/ThemeConfig.js"></script>
    <div class="page page-center" id="app">
        <div class="container container-slim py-4">
            <div class="text-center">
                <div class="mb-3">
                    <a href="/Main/MainPage/Index" class="navbar-brand navbar-brand-autodark"><img src="/wwwroot/dist/img/logos/logo-small.svg" height="36" alt=""></a>
                </div>
                <div class="text-secondary mb-3">Preparing application</div>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-indeterminate"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="text-center mb-4">
                <a href="." class="navbar-brand navbar-brand-autodark">
                    <img src="/dist/img/logos/logo-white.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
                </a>
            </div>
            <div class="card card-md">
                <div class="card-body">
                    <h2 class="h2 text-center mb-4">Write New Password</h2>
                    <form role="form" asp-controller="Account" asp-area="" asp-action="ResetPassword" method="post" autocomplete="off" novalidate>
                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="Token" />
                        <div class="mb-2">
                            <div class="input-group input-group-flat">
                                <input type="password" asp-for="Password" name="password" class="form-control" placeholder="Your password" autocomplete="off" id="password-input">
                                <span class="input-group-text">
                                    <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip" id="show-password-toggle">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                                            <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path>
                                        </svg>
                                    </a>
                                </span>
                            </div>
                            <span class="text-danger">@Html.ValidationMessage("PasswordErrors")</span>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <div class="input-group input-group-flat">
                                <input type="password" asp-for="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="Confirm password" autocomplete="off" id="password-input2">
                                <span class="input-group-text">
                                    <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip" id="show-password-toggle2">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                                            <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path>
                                        </svg>
                                    </a>
                                </span>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/site.js" defer asp-append-version="true"></script>
    <script src="/js/SignUpPasswordShow.js"></script>
    <script src="~/dist/js/tabler.min.js"></script>
    <script src="~/dist/js/demo.min.js"></script>
</body>
</html>