@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewData["Title"] - Voltage</title>

    <link href="~/dist/css/tabler.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="~/dist/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="~/dist/css/demo.min.css" rel="stylesheet" />
    <link href="~/Voltage.styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <script src="/js/ThemeConfig.js"></script>
    <div class="page page-center" id="app">
        <div class="container container-slim py-4">
            <div class="text-center">
                <div class="mb-3">
                    <a href="/Main/MainPage/Index" class="navbar-brand navbar-brand-autodark"><img src="/wwwroot/dist/img/logos/logo-small.svg" height="36" alt=""></a>
                </div>
                <div class="text-secondary mb-3">Preparing application</div>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-indeterminate"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="page-wrapper">
            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title">
                                Frequently Asked Questions
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="card card-lg">
                        <div class="card-body">
                            <div class="space-y-4">
                                <div>
                                    <h2 class="mb-3">1. Introduction</h2>
                                    <div id="faq-1" class="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="accordion-item">
                                            <div class="accordion-header" role="tab">
                                                <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq-1-1">Welcome to our service!</button>
                                            </div>
                                        <div id="faq-1-1" class="accordion-collapse collapse show" role="tabpanel" data-bs-parent="#faq-1">
                                                <div class="accordion-body pt-0">
                                                    <div>
                                                        <p>We are thrilled to have you as a part of our community. Your presence enriches our service, and we are excited to embark on this journey together. At Voltage, we are dedicated to providing you with exceptional experiences, valuable resources, and a vibrant community.</p>
                                                        <p>Thank you for choosing us. Your trust means the world to us, and we are committed to making your time with us rewarding and enjoyable. If you ever have any questions, suggestions, or simply want to say hello, don't hesitate to reach out.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h2 class="mb-3">2. Privacy Policy</h2>
                                    <div id="faq-2" class="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="accordion-item">
                                            <div class="accordion-header" role="tab">
                                                <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq-2-1">1. Introduction</button>
                                            </div>
                                            <div id="faq-2-1" class="accordion-collapse collapse show" role="tabpanel" data-bs-parent="#faq-2">
                                                <div class="accordion-body pt-0">
                                                    <div>
                                                        <p>This Privacy Policy describes how we collect, use, and disclose your personal information when you use our service.</p>
                                                        <p>By using the service, you consent to the practices described in this policy.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-header" role="tab">
                                                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-2-2">Information We Collect</button>
                                            </div>
                                            <div id="faq-2-2" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-2">
                                                <div class="accordion-body pt-0">
                                                    <div>
                                                        <p>Personal Information: When you use our service, we may collect certain personal information, such as your name, email address, and other contact information you provide.</p>
                                                        <p>Usage Data: We may collect information about how you use the service, including your IP address, device type, browser information, and pages you visit.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-header" role="tab">
                                                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-2-3">How We Use Your Information</button>
                                            </div>
                                            <div id="faq-2-3" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-2">
                                                <div class="accordion-body pt-0">
                                                    <div>
                                                        <p>We may use the information we collect for various purposes, including to provide and maintain the service, improve user experience, and send you updates and promotional offers.</p>
                                                        <p>We do not sell, trade, or otherwise transfer your personal information to outside parties. We may share your information with trusted third parties who assist us in operating our service</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-header" role="tab">
                                                <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-2-4"> Security</button>
                                            </div>
                                            <div id="faq-2-4" class="accordion-collapse collapse" role="tabpanel" data-bs-parent="#faq-2">
                                                <div class="accordion-body pt-0">
                                                    <div>
                                                        <p>We are committed to ensuring the security of your personal information.</p>
                                                        <p>However, no method of transmission over the internet or electronic storage is completely secure. Therefore, we cannot guarantee the absolute security of your data.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/site.js" defer asp-append-version="true"></script>
    <script src="~/dist/js/tabler.min.js"></script>
    <script src="~/dist/js/demo.min.js"></script>
</body>
</html>