
<link rel="stylesheet" href="/css/MainAnimatedVideo.css"/>
<div class="video-container">
    <video loop autoplay controls="false">
        <source src="/myIntro/firstVideo (online-video-cutter.com).mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
	<div class="mainstylercontainer">
		<div class="video-text btn-shine">Voltage Bright Connection</div>
		<div class="get-started-btn" id="getStartedBtn">
			<button>Get Started 🗲</button>
		</div>
	</div>
</div>


@* <link rel="stylesheet" href="/css/MainPageAnimatedText1.css"/>
<svg viewBox="0 0 960 300">
	<symbol id="s-text">
		<text text-anchor="middle" x="50%" y="80%">voltage. </text>
		<text text-anchor="middle" x="52%" y="80%">voltage. </text>

	</symbol>

	<g class="g-ants">
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
	</g>
</svg> *@